anndata==0.10.8
matplotlib==3.6.3
numpy==1.23.0
pandas==2.2.2
paste2==1.0.1
Pillow==10.2.0
plotly==5.23.0
POT==0.9.4
rpy2==3.5.16
scanpy==1.10.2
scikit_learn==1.5.1
scikit-image==0.24.0
scipy==1.9.3
seaborn==0.13.2
somde==0.1.8
tqdm==4.66.4
igraph==0.11.6
leidenalg==0.10.2

